@import url('https://fonts.googleapis.com/css2?family=Farro:wght@300;400;500;700&display=swap');
  /* Basic Boilerplate */
:root{
  --accent: #7906FF;
  --accent2: #3B38EB;
  --background: #140037;
  --secondary-background: #262F50;
  --placeholder: hsla(241, 42%, 77%, 1);
  --gradient: linear-gradient(to bottom, var(--accent), var(--accent2));
  
  --h1: clamp(3rem, calc(4.7vw + 1rem), 4rem);
  --h2: clamp(2rem, calc(4vw + 0.5rem), 3rem);
  --h3: clamp(1rem, calc(2vw + 0.2rem), 1.2rem);
  --p: clamp(0.6rem, 1.4vw, 0.8rem);
  
  --align-pad: 4vw;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "Farro", sans-serif;
  text-decoration: none;
}
html{
  scroll-behavior: smooth;
}
body{
  width: 100vw;
  overflow-x: hidden;
  position: relative;
  background: #000;
}
.disableScroll{
  overflow: hidden;
}
  /* Text selection edit */
*::selection{
  color: var(--accent);
  background: #fff;
  -webkit-text-fill-color: var(--accent)
}
  /* Font size set */
h1{
  font-size: var(--h1);
}
h2{
  font-size: var(--h2)
}
h3{
  font-size: var(--h3)
}
p{
  line-height: calc(var(--p) + 0.3rem)
}
p,
li,
button{
  font-size: var(--p);
}
button,img{
  user-select: none;
}
  /* Css main code */
.sec1{
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  position: relative;
  background-image: url(bg1.jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.sec1::before{
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, transparent, var(--background));
}
.sec1 nav{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vw 4vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  transition: 0.3s;
  border-bottom: 2px solid transparent;
  backdrop-filter: blur(0)
}
nav.hidden {
  transform: translateY(-100%);
}
.sec1 nav .logo{
  display: flex;
  gap: 0.5vw;
  align-items: center;
  justify-content: center;
}
.sec1 nav .logo img{
  height: 5vw
}
.sec1 nav .logo h1{
  font-size: 2vw
}
.sec1 nav .logo h1 span{
  font-weight: 200;
}
.sec1 nav ul{
  list-style: none;
  display: flex;
  align-items: center;
  gap: 5vw
}
.sec1 nav ul li{
  padding: 0.2vw 0.5vw;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
}
.sec1 nav ul li span{
  width: 100%;
  height: 1px;
  background: #fff;
  position: absolute;
  bottom: 0;
  left: -100%;
  transition: 0.3s;
}
.sec1 nav ul li:hover span{
  left: 0%;
  background: var(--accent2);
}
.sec1 nav ul li:hover{
  color: var(--accent2);
}
.sec1 nav ul button{
  background: transparent;
  padding: 1vw 2vw;
  border: 2px solid #fff;
  border-radius: 50px;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 2
}
.sec1 nav ul button::before{
  transition: 0.3s;
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to right, transparent, var(--accent2));
  z-index: -1;
  opacity: 0;
}
.sec1 nav ul button:hover::before{
  opacity: 1;
}
.sec1 nav ul button:hover{
  border-color: var(--accent2);
  box-shadow: 0 0 1vw var(--accent2), 0 0 5vw var(--accent2);
}
.sec1 nav ul #bg{
  display: none
}
.sec1 nav ul #horizontal{
  display: none;
}
.sec1 nav ul #menu{
  display: none;
}
.sec1 .contend{
  z-index: 2;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3vw;
}
.sec1 .contend p:first-child{
  text-shadow: 0.3vw 0.3vw 1vw hsla(0, 0%, 0%, 0.4)
}
.sec1 .contend h1{
  text-shadow: 0.3vw 0.3vw 1vw hsla(0, 0%, 0%, 0.4)
}
.mouse{
  bottom: 0;
  margin-bottom: 4vw;
  cursor: pointer;
  transition: 0.3s;
}
#arrow{
  animation: jump 1s infinite ease-out alternate;
}
@keyframes jump{
  to{
    top: 7%
  }
}
.sec2{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  position: relative;
  background: var(--background);
  padding: var(--align-pad);
  padding-top: 5vw;
  overflow: hidden;
}
.sec2 h2 span{
  -webkit-text-fill-color: transparent;
  background: var(--gradient);
  -webkit-background-clip: text;
  z-index: 1;
}
.sec2 h3{
  line-height: 1vw;
  color: #fff;
  z-index: 1;
}
.sec2 .contend{
  width: 100%;
  margin-top: 5vw;
  display: grid;
  gap: 2vw;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: center;
  z-index: 1;
}
.sec2 .contend .box{
  background: linear-gradient(to top, var(--accent), transparent);
  border: 2px solid var(--accent);
  height: 23vw;
  border-radius: 2vw;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  gap: 1vw;
}
.sec2 .contend .box #svg{
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sec2 .contend .box p{
  width: 90%;
  color: var(--placeholder);
}
.sec2 .contend .box:hover{
  transform: translateY(-2%);
  filter: drop-shadow(0 0.5vw 1vw hsla(268, 100%, 51%, 0.3));
}
.sec3{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: var(--background);
  padding: var(--align-pad);
  padding-top: 10vw;
  padding-bottom: 10vw;
  overflow: hidden;
}
.sec3 .textC{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2vw;
  position: relative;
}
.sec3 .textC p:first-child{
  -webkit-text-fill-color: transparent;
  background: var(--gradient);
  -webkit-background-clip: text;
  font-weight: bold
}
.sec3 .textC #line{
  width: 70%;
  height: 1pt;
  background: var(--gradient);
}
@keyframes draw{
  from{
    stroke-dashoffset: 0
  }
  to{
    stroke-dashoffset: 100
  }
}
@keyframes blink{
  0%{
    opacity: 0.5;
  }
  10%{
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0.5;
  }
  70% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.sec4{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background: var(--background);
  padding: var(--align-pad);
  padding-top: 10vw;
  padding-bottom: 10vw;
  overflow: hidden;
  gap: 5vw
}
.sec4 .textC{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sec4 .textC #line{
  height: 2px;
  width: 10vw;
  background: #fff;
}
.sec4 .textC p{
  width: 50%;
}
.sec4 .projectC{
  width: 100%;
  display: grid;
  gap: 2vw;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
}
.sec4 .projectC #project{
  background: hsla(268, 100%, 51%, 0.3);
  height: 20vw;
  border: 2px solid var(--accent);
  border-radius: 1vw;
  position: relative;
  border-top-right-radius: 0vw
}
.sec4 .projectC #project::before{
  content: "";
  height: 15%;
  width: 5%;
  background: var(--accent);
  position: absolute;
  left: -5%;
  top: 50%;
  clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0% 50%);
}
.sec5{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background: var(--background);
  padding: var(--align-pad);
  padding-top: 10vw;
  padding-bottom: 10vw;
  overflow: hidden;
  text-align: center;
  gap: 2vw;
  z-index: 5
}
.sec5 #edgeText{
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-text-stroke: 0.5px hsla(0, 0%, 100%, 0.1);
  color: transparent;
  white-space: nowrap;
  font-size: 10vw;
  user-select: none;
  z-index: -1;
}
.sec5 p{
  width: 60%;
}
.sec5 .container{
  width: 100%;
  margin-top: 5vw;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent);
  border: 2px solid var(--accent);
  background: hsla(268, 100%, 51%, 0.3);
  animation: blink 1.3s infinite linear alternate;
  z-index: 9;
}
.sec5 .container:hover{
  animation-play-state: paused;
}
.sec5 .container .companyC{
  display: flex;
  gap: 5vw;
  width: max-content;
  animation: swip 40s infinite linear alternate;
}
@keyframes swip{
  from{
    transform: translateX(5%);
  }
  to{
    transform: translateX(-60%);
  }
}
.sec5 .container .companyC:hover {
  animation-play-state: paused;
}
.sec5 .container .companyC .box{
  height: 15vw;
  width: 15vw;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  border: 2px solid transparent;
}
.sec6{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: right;
  position: relative;
  background: var(--background);
  padding: var(--align-pad);
  padding-top: 10vw;
  padding-bottom: 5vw;
  overflow: hidden;
  text-align: center;
  gap: 2vw;
  z-index: 5
}
.sec6 img{
  height: 100%;
  mix-blend-mode: screen;
  position: absolute;
  left: 0;
  bottom: 0;
  animation: moving 10s infinite ease-in-out alternate;
  transform-origin: bottom left;
  -webkit-mask-image: radial-gradient(black, transparent)
}
@keyframes moving{
  from{
    transform: rotate(-5deg) skew(-5deg)
  }
  to{
    transform: rotate(5deg) skew(5deg)
  }
}
.sec6 .form{
  z-index: 1;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1vw;
  height: max-content;
  position: relative;
  padding: 3vw;
  
}
.sec6 .form h2{
  margin-bottom: 2vw
}
.sec6 .form input,
.sec6 .form textarea{
  width: 100%;
  resize: none;
  padding: 1.5vw;
  font-size: var(--p);
  background: hsla(268, 100%, 51%, 0.3);
  border: none;
  outline: none;
  border-bottom: 2px solid var(--accent);
  border-radius: 1vw 1vw 0 0;
  transition: 0.3s;
}
.sec6 .form input::placeholder,
.sec6 .form textarea::placeholder{
  color: var(--placeholder);
}
.sec6 .form textarea{
  height: 10vw;
}
.sec6 .form .wrong{
  color: red;
  border-bottom: 2px solid red;
  background: hsla(0, 100%, 51%, 0.3);
}
.sec6 .form .wrong::placeholder{
  color: hsla(0, 42%, 77%, 1);
}
.sec6 .form input:focus,
.sec6 .form textarea:focus{
  background: hsla(268, 100%, 51%, 0.3);
  border-bottom: 2px solid var(--accent);
  color: #fff;
}
.sec6 .form input:focus::placeholder,
.sec6 .form textarea:focus::placeholder{
  color: var(--placeholder);
}
.sec6 .form .checkBox{
  display: flex;
  align-items: center;
  gap: 1vw
}
.checkBox #check{
  background: hsla(268, 100%, 51%, 0.3);
  height: 2.5vw;
  width: 2.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.4vw;
  border-bottom: 2px solid var(--accent);
}
.sec6 .form .checkBox #check svg{
  pointer-events: none;
  display: none;
}
.sec6 .form .checkBox .wrongCheck{
  border-bottom: 2px solid red;
  background: hsla(0, 100%, 51%, 0.3);
}
.sec6 .form button{
  width: 100%;
  padding: 1.5vw;
  color: #fff;
  border: none;
  background: var(--gradient);
  border-radius: 100px;
  margin-top: 2vw
}
.sec6 .form button:active{
  filter: brightness(120%)
}
footer{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: right;
  position: relative;
  background: hsla(268, 100%, 51%, 0.3);
  padding: var(--align-pad);
  padding-top: 5vw;
  padding-bottom: 5vw;
  overflow: hidden;
  text-align: center;
  gap: 4vw;
  z-index: 5
}
footer .top{
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
footer .top .left{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1vw;
  width: 20%;
  text-align: left;
}
footer .top .left img{
  height: 6vw;
  width: auto;
}
footer .top .right{
  gap: 10vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .top .right .box{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1vw;
}
footer .top .right .box p{
  color: var(--placeholder);
  cursor: pointer;
}
footer .bottom{
  width: 100%;
  padding-top: 2vw;
  border-top: 1px solid var(--placeholder);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .bottom .right{
  display: flex;
  align-items: center;
  gap: 4vw
}
  /* Media for horizontal mode*/
@media (orientation: portrait) {
  :root {
    --h1: clamp(2rem, calc(7vw + 1rem), 5rem);
    --h2: clamp(1.5rem, calc(5vw + 0.5rem), 4rem);
    --h3: clamp(0.8rem, calc(2.5vw + 0.2rem), 1.1rem);
    --p: clamp(0.6rem, 2.3vw, 1rem);
  }
  .sec1 nav ul{
    gap: 1vw
  }
  .sec1 nav ul button {
    padding: 1.7vw 3.5vw;
  }
  .sec1 nav ul #vertical{
    display: none;
  }
  .sec1 nav ul #bg{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background: #000000;
    display: block;
    pointer-events: none;
    z-index: 3;
    opacity: 0;
    transition: 0.3s
  }
  .sec1 nav ul #horizontal{
    display: flex;
    position: fixed;
    height: 100vh;
    width: 60vw;
    background: var(--secondary-background);
    top: 0;
    right: -100%;
    z-index: 999;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 15vw 10vw;
    gap: 10vh;
    transition: 0.3s;
  }
  .sec1 nav ul #horizontal li{
    width: 100%;
    cursor: pointer;
    padding: 1vw 0;
    transition: unset
  }
  .sec1 nav ul #menu,
  .sec1 nav ul #close{
    display: flex;
    border: none;
  }
  .sec1 nav ul #menu:hover,
  .sec1 nav ul #close:hover{
    background: unset;
    box-shadow: unset
  }
  .sec1 nav ul #menu:hover::before,
  .sec1 nav ul #close:hover::before{
    background: transparent;
  }
  .sec1 nav ul #close{
    position: absolute;
    top: 0;
    right: 0;
    margin: 2vw 4vw
  }
  .sec1 nav .logo img{
    height: 7vw
  }
  .sec1 nav .logo h1{
    font-size: 3vw
  }
  .sec2{
    gap: 2vw;
  }
  .sec2 .contend{
    margin-top: 10vw;
    gap: 4vw
  }
  .sec2 .contend .box{
    height: 35vw;
    gap: 2vw;
  }
  .sec2 .contend .box #svg svg{
    height: 10vw;
  }
  .sec2 .contend .box{
    height: 27vh;
  }
  .mouse{
    display: none;
  }
  .sec3{
    padding-top: 20vw;
    padding-bottom: 20vw;
  }
  .sec4{
    padding-top: 30vw;
    padding-bottom: 10vw;
    gap: 5vw
  }
  .sec4 .textC{
    flex-wrap: wrap;
  }
  .sec4 .textC #line{
    width: 40vw;
  }
  .sec4 .textC p{
    width: 100%;
    margin-top: 3vw;
  }
  .sec4 .projectC{
    gap: 3vw;
    margin-top: 5vw;
  }
  .sec4 .projectC #project{
    height: 30vh;
  }
  .sec4 .projectC #project::before{
    width: 4%;
    left: -4%;
  }
  .sec5{
    padding-top: 20vw;
    padding-bottom: 20vw;
    gap: 4vw;
  }
  .sec5 p{
    width: 100%;
  }
  .sec6{
    justify-content: center;
    padding-top: 20vw;
    padding-bottom: 10vw;
  }
  .sec6 img{
    width: 100%;
    opacity: 0.5;
  }
  .sec6 .form{
    width: 100%;
    gap: 2vw
  }
  .sec6 .form h2{
    margin-bottom: 4vw
  }
  .sec6 .form input,
  .sec6 .form textarea{
    padding: 3vw 2vw;
    font-size: var(--p);
  }
  .sec6 .form textarea{
    height: 20vw;
  }
  .checkBox #check{
    height: 3.5vw;
    width: 3.5vw;
  }
  .sec6 .form .checkBox #check svg{
    height: 4vw;
  }
  .sec6 .form button{
    padding: 3vw;
  }
  footer{
    padding-top: 10vw;
    gap: 4vw;
  }
  footer .top{
    flex-direction: column;
    align-items: flex-start;
    gap: 10vw
  }
  footer .top .left{
    width: 50%;
  }
  footer .top .left img{
    height: 8vw;
    width: auto;
  }
  footer .top .right{
    gap: 5vw;
    flex-direction: column;
    align-items: flex-start;
  }
  footer .bottom{
    padding-top: 4vw;
  }
  footer .bottom .right{
    gap: 5vw
  }
}
